.nav-item {
  position: absolute;
  right: 0;
}

.nav-item__badge {
  width: 21px;
  height: 21px;
  position: absolute;
  right: 0;
  bottom: -5px;
}

.main-section {
  padding: 0;
}

.main-section__header {
  font-family: Archivo;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
}

.pos-relative {
  position: relative;
}

.main-section__button {
  position: absolute;
  right: 12px;
}

.main-section__img-container {
  position: relative;
}

.main-section__img-container__description {
  background: white;
  width: 150.8px;
  height: 47px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: 1px solid black;
}

.product-detail__heading,
.product-detail__material__heading {
  font-family: Archivo;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #000000;
}

.product-detail__cat {
  font-family: Archivo;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #656565;
  margin-block: 10px;
}

.product-detail__desc {
  font-family: Archivo;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  color: #656565;
}

.product-detail__material__image {
  height: 147px;
  width: 117px;
  margin-inline-end: 30px;
}

.product-detail__material__details {
  margin-top: 26px;
}

.product-detail__material__details__heading {
  font-family: Archivo;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #656565;
}

.product-detail__material__details__desc {
  font-family: Archivo;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #656565;
}

.product-list__header {
  font-family: Archivo;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  color: #000000;
}

.product-list__header__prem {
  font-family: Archivo;
  font-size: 30px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  color: #9B9B9B;
}

.product-detail__material__details__filter-img {
  display: none;
}

.product-list__sort {
  display: flex;
  align-items: baseline;
}

.product-list__sort-direction-button {
  font-family: Archivo;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #9B9B9B;
}

.product-list__items {
  margin-top: 10px;
  display: flex;
}

.product-list__items__filter-settings {
  width: 30%;
}

.product-list__items__products {
  width: 70%;
}

.product-list__items__products__container {
  display: inline-flex;
  flex-wrap: wrap;
}
.product-list__items__products__container__product {
  margin: 6px 6px;
  max-width: 30%;
  width: 281px;
  height:391px;
  position: relative;
}
.product-list__items__products__container__product__img{
  border: 1px solid rgb(38, 92, 219);
}
.product-list__items__products__container__product__button{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media only screen and (max-width: 900px) {
  .main-section__button {
    width: 96%;
  }

  .main-section div:nth-child(2) {
    margin-bottom: 50px;
  }

  .product-detail {
    flex-direction: column-reverse;
  }

  .product-detail__material__details__filter-img {
    display: flex;
    max-width: 50%;
    justify-content: end;
  }

  .product-list__sort {
    display: none;
  }

  .product-list__items {
    display: block;
  }

  .product-list__items__filter-settings {
    display: none;
  }
}